

네트워크
-> 통신

DataBase <------> Server <-------> Client(app, web, ...)
   글                                    A
  댓글                                   B

Local DataBase의 한계
- 동기화가 어렵다
- 상호작용이 불가능하다

서버와 통신하는 방법
- 해당 url로 요청한다
- 인증 정보를 보낸다
- JSON 형식을 사용해서 데이터를 보낸다
    - JavaScript Object Notation -> JavaScript에서 객체를 만들 때 사용하는 표현식이다

JSON 형식
- [] -> List
- {} -> Object
    -> "" -> 문자열
    -> ""없으면 -> 숫자

JSON Parsing
- JSON을 코틀린이나 자바가 이해할 수 있게 변형하는 과정

Serializable (직렬화)
-> 자바 시스템 내부에서 사용되는 object를 외부에서 사용할 수 있도록 byte형태로
   데이터를 바꾸는 것
class Person(
    var id : Int? = null
    var name : String? = null
    var age : Int? = null
    var intro : String? = null
)



